/* 内容区 */
body > .showS section {
    box-sizing: border-box;
    clear: both;
    background: #fff;
    padding-top: 15px;
}

/* 一格文章 */
.conins {
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #737373;
}

/* 样式展示 */
.conins > div {
    height: 300px;
    width: auto;
    clear: both;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

/* 展示的图片 */
.conins > div > img {
    display: inline-block;
    box-sizing: border-box;
    height: 98%;
    margin: 0 5px;
}

/* 标题栏 */
.conins > .icons {
    padding-top: 0;
    width: 100%;
    height: 55px;
    text-align: left;
}

/* 主题介绍 */
.TtileAlt {
    box-sizing: border-box;
    font-size: 15pt;
    color: #3e3e3e;
    margin: 0;
    padding: 10px 0 0;
    height: 100%;
}

/* 副主题 */
.conins > .icons > h1 small {
    font-size: small;
    color: #455cff;
}

/* 下载按钮 */
.conins > .icons > h1 button {
    font-family: 微软雅黑, arial;
    padding: 10px 35px;
    color: #fff;
    font-size: 15px;
    content: "下载";
    margin: 0 5px 0 0;
    float: right;
    background: #455cff;
    border-radius: 20px;
    box-shadow: 0 0 5px #455cff;
    transition: .5s;
}

/* 下载按钮动画 */
.conins > .icons > h1 button:hover {
    box-shadow: 0 0 15px #3141b4;
}

/* 作者 */
.conins > .aouter {
    padding-top: 0;
    width: 100%;
    height: 80px;
    text-align: center;
}

/* 作者图标动画 */
.conins > .aouter img {
    transition: 1s;
}

/* 作者图标动画 */
.conins > .aouter img:hover {
    box-shadow: 0 0 15px #000;
}

/* 帮助按钮 */
#help {
    text-shadow: 0 0 2px #fff;
    font-size: 15pt;
    width: 100%;
    color: #fff;
    clear: both;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 10px 0;
    background: #3141b4;
    border-radius: 5px;
}

/* 介绍 */
#redme {
    background: #6983ff;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 10pt;
    font-weight: bolder;
    color: #000;
    border-radius: 10px;
    transition: .5s;
}

/* 介绍动画 */
#redme:hover {
    border-radius: 30px;
}

/* 预计增加内容 */
#todo {
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-align: left;
    box-shadow: 0 0 10px rgba(61, 61, 61, 0.72);
}

#todo > h2 {
    font-weight: bold;
    margin: 10px 0 10px 40px;
    color: #D50005;
}

#todo > p {
    background: #222222;
    padding: 5px 0 10px 40px;
    color: springgreen;
}