#see {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#see > #screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 2%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
}

#aoutDonate {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(10, 10, 10, 0.5);
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    clear: both;
}

@media screen and (max-width: 600px) {
    #aoutDonate > img {
        float: left;
        width: 98%;
        height: 100%;
        padding: 1% 0;
        margin: 0 1%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 960px) {
    #aoutDonate > img {
        float: left;
        width: 30%;
        height: 100%;
        padding: 1% 0;
        margin: 0 1%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        box-sizing: border-box;
    }
}