/* 悬浮框 */
#see {
    z-index: 999;
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* 图片展示区 */
#see #screen {
    visibility: hidden;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 2%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
}

/* 捐献按钮区 */
#see > #don {
    display: inline-block;
    width: 300px;
    box-shadow: 0 0 20px #ffffff;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 40px 0;
    margin: 5% 0 0;
}

#see > #don .buttons {
    font-size: 12pt;
    width: 100px;
    padding: 10px 0;
    margin: 10px 0;
}

@media screen and (min-width: 375px) {
    /* 捐献按钮区 */
    #see > #don {
        width: 350px;
    }

    #see > #don .buttons {
        font-size: 15pt;
        width: 150px;
    }
}