* {
    transition: .5s;
}

body {
    background: #000;
}

.content {
    clear: both;
    text-align: left;
    padding-top: 25px;
    width: 100%;
}

.content h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.content button {
    background: #ff6600;
    padding: 10px 15px;
    margin: 5px;
    font-weight: bold;
    font-size: 10pt;
    border-radius: 10px;
}

.content button:hover {
    background: #7c3700;
    color: #fff;
}

.content p b {
    display: inline-block;
    color: #D50005;
    padding: 3px;
    margin: 2px;
    background: #e8e8e8;
}

.content p b:hover {
    color: #fff;
    background: #D50005;
}

.content > section {
    box-sizing: border-box;
    padding: 20px;
    background: #222222;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #454545;
}