/* 帮助按钮 */
#help {
    text-shadow: 0 0 2px #fff;
    font-size: 15pt;
    width: 100%;
    color: #fff;
    clear: both;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 10px 0;
    background: #3141b4;
    border-radius: 5px;
}

#redme {
    background: #6983ff;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 10pt;
    font-weight: bolder;
    color: #000;
    border-radius: 10px;
    transition: .5s;
}

#redme:hover {
    border-radius: 30px;
}

#todo {
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-align: left;
    box-shadow: 0 0 10px rgba(61, 61, 61, 0.72);
}

#todo > h2 {
    font-weight: bold;
    margin: 10px 0 10px 40px;
    color: #D50005;
}

#todo > p {
    background: #222222;
    padding: 5px 0 10px 40px;
    color: springgreen;
}
